.App {
  text-align: center;
}

body {
  /* background-color: #191f25; */
  color: #E1E1E1;
}

header {
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #04789a;
  /* position: sticky;
  top: 0; */
  z-index: 1;
}

.content {
  width: 90%;
  padding-top: 10px;
  margin: auto;
}

.about-content {
  width: 50%;
  padding-top: 10px;
  margin: auto;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.footer-links {
  text-decoration: none;
  color: grey;
}

.header-link {
  text-decoration: none;
  color: #E1E1E1;
}

.loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.column {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  padding: 15px;
}

.team-logo {
  width: 20px;
}

.position-change-arrow {
  width: 20px;
  /* padding-right: 10px; */
  float: left;
}

.standings-table {
  padding-bottom: 5vh;
  max-height: 25vh;
}

.weather-column {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  padding-bottom: 16px;
}

.custom-card {
  box-shadow: 0;
}

.track-map{
  max-width:100%;
  max-height:100%;
}

.highlights-iframe {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    width: 90%;
  }
}